.container {
    margin: 0 auto;
    width: 990px;
}

.col-1 {
    width: calc(100% / 12);
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: calc(100%);
}

@media only screen and (max-width: 990px) {
    .container {
        margin: 0;
        width: 100%;
    }

    .col-sm-1 {
        width: calc(100% / 12);
    }
    
    .col-sm-2 {
        width: calc(100% / 12 * 2);
    }
    
    .col-sm-3 {
        width: calc(100% / 12 * 3);
    }
    
    .col-sm-4 {
        width: calc(100% / 12 * 4);
    }
    
    .col-sm-5 {
        width: calc(100% / 12 * 5);
    }
    
    .col-sm-6 {
        width: calc(100% / 12 * 6);
    }
    
    .col-sm-7 {
        width: calc(100% / 12 * 7);
    }
    
    .col-sm-8 {
        width: calc(100% / 12 * 8);
    }
    
    .col-sm-9 {
        width: calc(100% / 12 * 9);
    }
    
    .col-sm-10 {
        width: calc(100% / 12 * 10);
    }
    
    .col-sm-11 {
        width: calc(100% / 12 * 11);
    }
    
    .col-sm-12 {
        width: calc(100%);
    }
}
