html [data-theme=light] {
	background-color #ffffff
}

html [data-theme=dark] {
	background-color #111827
}

html [data-theme=experimental] {
	background-color #292643
}

body {
	overflow-y overlay
}

* {
	transition-property color, background-color, border-color
	transition-duration 0ms
	transition-timing-function ease-in-out
}

::selection {
	background var(--select-color)
}

hr {
	border-color var(--color-ui-border)
	margin-top 0.75rem
	margin-bottom 0.75rem
}

h1 {
	font-size 2.25rem
}

h2 {
	font-size 1.5rem
}

h3 {
	font-size 1.25rem
}

h4 {
	font-size 1.125rem
}

h1,
h2,
h3,
h4 {
	line-height 1.375
	font-weight 600
	margin-bottom 1rem
	color var(--color-ui-header)

	&:hover {
		a::before {
			opacity 1
		}
	}

	a {
		&::before {
			content "#"
			margin-left -1em
			padding-right 1em
			color var(--color-ui-primary)
			position absolute
			opacity 0
			float left
		}
	}
}

p,
ol,
ul,
pre,
strong,
blockquote {
	margin-bottom 1rem
	font-size 1rem
	color var(--color-ui-typo)
}

blockquote {
	border-left-width 4px
	border-left-color var(--color-ui-gray)
	padding 0.5rem 0 0.5rem 1rem
	margin-top 1rem

	p:last-child {
		margin-bottom 0
	}
}

code {
	color var(--color-ui-typo)
	background-color --color-ui-sidebar
	border-bottom-width 1px
	border-right-width 1px
	border-color var(--color-ui-border)
	border-radius 0.25rem
	font-family Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
	font-size 0.875rem
	padding 0.25rem
}

table {
	text-align left
	margin-bottom 1.5rem

	td,
	th {
		padding 0.75rem 1rem

		&:first-child {
			padding-left 0
		}

		&:last-child {
			padding-right 0
		}
	}

	tr {
		border-bottom-width 1px
		border-color var(--color-ui-border)

		&:last-child {
			border-bottom-width 0
		}
	}
}

pre[class*="language-"] {
	max-width 100%
	overflow-x auto
	border-radius 0.25rem

	& + p {
		margin-top 1rem
	}

	& > code[class*="language-"] {
		border-style none
		line-height 1.625
	}
}

.missingProps {
	color var(--color-ui-secondary)
	font-weight 500
	font-size 1em
}
