html [data-theme=light] {
	background-color #ffffff
}

html [data-theme=dark] {
	background-color #111827
}

html [data-theme=experimental] {
	background-color #292643
}

body {
	overflow-y overlay
}

::selection {
	background var(--select-color)
}

hr {
	border-color var(--color-ui-border)
	margin-top 0.75rem
	margin-bottom 0.75rem
}

.missingProps {
	color var(--color-ui-secondary)
	font-weight 500
	font-size 1em
}
