.custom-block {
	padding-left 1.25rem
	padding-right 1rem
	border-radius 0.125rem
	overflow hidden
	position relative
	background-color var(--container)
	border 1px solid var(--border)
	border-radius 6px
	margin 0.5rem 0

	.c-title {
		margin 1rem auto 0.5rem
		font-weight 600

		&:empty {
			display none
		}
	}

	&.c- {
		&empty {
			padding-top 1rem
		}

		&guide {
			background-color var(--container)

			.videolink {
				margin-top -1rem
			}
		}

		&details {
			background-color transparent
			border-left none
			border-right none
			border-radius 0
			margin 0

			&:not(:last-child) {
				border-bottom none
			}

			.c-title {
				margin 1rem auto
				font-weight bold
			}
		}

		&tip,
		&warning,
		&danger,
		&alert {
			padding-left 3.75rem

			&:before {
				content ""
				display block
				position absolute
				top 0
				left 0
				margin-top 1rem
				margin-left 1rem
				width 1.75rem
				height 1.75rem
				background-size contain
			}

			a {
				&:hover {
					text-decoration underline
				}
			}
		}


		&tip {
			background-color var(--tip-background)
			border 1px solid var(--tip-border)

			&:before {
				background transparent url("https://tachiyomi.org/assets/icon_tip.svg") no-repeat 0 0
			}

			a {
				color var(--tip-link) !important
			}

			.c-title {
				color var(--tip-text)
			}
		}

		&warning {
			background-color var(--warning-background)
			border 1px solid var(--warning-border)

			&:before {
				background transparent url("https://tachiyomi.org/assets/icon_warning.svg") no-repeat 0 0
			}

			a {
				color var(--warning-link) !important
			}

			.c-title {
				color var(--warning-text)
			}
		}

		&danger {
			background-color var(--danger-background)
			border 1px solid var(--danger-border)

			&:before {
				background transparent url("https://tachiyomi.org/assets/icon_danger.svg") no-repeat 0 0
			}

			a {
				color var(--danger-link) !important
			}

			.c-title {
				color var(--danger-text)
			}
		}

		&alert {
			background-color var(--alert-background)
			border 1px solid var(--alert-border)

			&:before {
				background transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAA7VBMVEUAAACSlZuOkZeRlJqQk5mSlZuRlJqRlJqQk5mQk5mQk5mSlZuRlJqQk5mQk5mQk5mRlJqQk5mQk5mQk5mQk5mQk5mQk5mQk5mRlJqRlJqQk5mQk5mRlJqRlJqQk5mQk5mQk5mQk5mQk5mQk5mQk5mQk5mQk5mQk5mRlJqRlJqSlZuRlJqQk5mQk5mQk5mQk5mRlJqRlJqQk5mQk5mSlZuQk5mQk5mRlJqRlJqQk5mQk5mQk5mSlZuQk5mQk5mQk5mRlJqSlZuQk5mQk5mQk5mRlJqRlJqRlJqQk5mRlJqRlJqRlJqQk5mQk5mQk5ktLIuVAAAATnRSTlMAAAAAABNHjcru/Qc+mtv4DmnTe+nU+sM2PNW+M0vzztn88MKcu/fmjk0OOtbdrosLP95rC4HGKCbE+YQKYvHgRAye0uQgYIHXTzuC++IP6+ZxAAAA+0lEQVQoz3VSx1LDQAx98sZtvW4bh0AogdB76L2HDvr/z+GArR2YsU4qM69IAgAizw/CKNY6jsLA94gAAIpUYtIsZ2ZmzrPUJIoUAOoUpdUsoW1ZdAggVXQr/hNVt1AESsp/feaqTAiesdLIbW+KmZmt8eCnDr8/PTP45Ul9BJmDmJ2br6ssQJi7wcJwcakGDRFJe7S8srrWFBHiJl3f2Nza3mmqGEK9u7c/PjgUm26gR0fHJ7kbCBSfnp1fsIMS8sur65tbduQi9+7+4fFpwiJXDPafxy+vbywGZSW994/PQe1Pp75b4tfkWzRZ47WvvfVQradtf4aW9/kBb8JwGukGOPcAAAAASUVORK5CYII=") no-repeat 0 0
			}

			.c-title {
				color var(--alert-text)
				font-weight 700
				font-size 0.9rem
			}

			p {
				color var(--alert-text)
				font-size 0.8rem
			}
		}
	}

	&.aside {
		background-color transparent
		border none
		color transparentify(#2c3e50, 0.4)
		font-size 0.9rem
		text-align right
	}

	&.aside-guide {
		background-color transparent
		border none
		font-size 0.9rem
		text-align left
		padding-left unset

		p {
			margin-top 0
		}

		a {
			color #476582
		}
	}
}

.videolink {
	background-color transparent !important
	border none !important
	padding-left 0.75rem !important
	padding-top 0.25rem
	text-align left

	p {
		margin-top 0
		font-size 0.9rem
	}

	.material-holder {
		user-select none
	}

	a,
	.material-holder {
		color var(--primary)
	}
}

h1 + .videolink,
h2 + .videolink,
h3 + .videolink {
	margin-top -1rem
}

.note {
	* {
		font-size 0.9rem
		text-align right
	}

	p {
		color rgba(0, 0, 0, 0.4) !important
	}

	a {
		color var(--primary) !important

		&:hover {
			color var(--primary-dark) !important
		}
	}
}

.guide {
	background-color var(--container)
	border-radius 0.5em
	margin 1rem 0
	padding 0.1rem 1.5rem

	.title {
		font-weight bold
	}

	.videolink {
		margin-top -1rem
	}
}
