user-select() {
	-webkit-user-select arguments
	-moz-user-select arguments
	-ms-user-select arguments
	user-select arguments
}

font-feature-settings() {
	-webkit-font-feature-settings arguments
	-moz-font-feature-settings arguments
	-ms-font-feature-settings arguments
	font-feature-settings arguments
}
