.sidebar {
	h3 {
		color: currentColor;
		&.active--exact {
			color: var(--color-ui-primary);
			span {
				background-color: var(--color-ui-primary);
			}
		}
	}
	a {
		color: currentColor;
		&.active--exact {
			color: var(--color-ui-primary);
			span {
				background-color: var(--color-ui-primary);
			}
		}
		&:hover {
			color: var(--color-ui-primary);
		}
	}
	li a {
		transition: all 0.3s;
		&.active {
			color: var(--color-ui-primary);
			padding-left: .8rem;
		}
	}
}
