:root [data-theme=light] {
	--background #ffffff
	--background-rgb 255, 255, 255
	--header #374151
	--typo #374151
	--sidebar #e5e7eb
	--border #e5e7eb
	--primary #4f46e5
	--primary-dark #4338ca
	--secondary #be185d
	--container #edf2f740
	--search 243, 244, 246
	--search-fade 90%
	--search-text #374151
	--gray #d1d5db
	--tip-background #3b82f61a
	--tip-border #3b82f633
	--tip-text #3c83f6
	--tip-link #3c83f6
	--warning-background #fbbf241a
	--warning-border #fbbf2466
	--warning-text #a08603e6
	--warning-link #a08603
	--danger-background #ef44441a
	--danger-border #ef444433
	--danger-text #ef4444e6
	--danger-link #ef4444
	--alert-background #f4f4f5
	--alert-border #f4f4f5
	--alert-text #909399
	--select-color #d4359f33
	--inline-code-bg #f3f4f6
	--inline-code-text #db2777
	--index-background-image url(/background-dark.png)
	--index-background-gradient-start 255, 255, 255
	--index-background-gradient-start-alpha 0.97
	--index-background-gradient-end 231, 230, 255
}

:root [data-theme=dark] {
	--background #111827
	--background-rgb 17, 24, 39
	--header #f3f4f6
	--typo #d1d5db
	--sidebar #1f2937
	--border #1f2937
	--primary #818cf8
	--primary-dark #4f46e5
	--secondary #ec4899
	--container #1f2937
	--search 31, 41, 55
	--search-fade 60%
	--search-text #d1d5db
	--gray #4b5563
	--tip-background #3b82f61a
	--tip-border #3b82f633
	--tip-text #3b82f6e6
	--tip-link #3b82f6
	--warning-background #fbbf241a
	--warning-border #fbbf2433
	--warning-text #fbbf24cc
	--warning-link #fbbf24
	--danger-background #ef44441a
	--danger-border #ef444433
	--danger-text #ef4444e6
	--danger-link #ef4444
	--alert-background #1f2937
	--alert-border #1f2937
	--alert-text #ced7e3
	--select-color #d4359f33
	--inline-code-bg #1f2937
	--inline-code-text #f472b6
	--index-background-image url(/background-light.png)
	--index-background-gradient-start 17, 24, 39
	--index-background-gradient-start-alpha 0.98
	--index-background-gradient-end 35, 39, 79
}
