:root [data-theme=light] {
	--color-ui-background #fff
	--color-ui-background-rgb 255, 255, 255
	--color-ui-header #374151
	--color-ui-typo #374151
	--color-ui-sidebar #e5e7eb
	--color-ui-border #e5e7eb
	--color-ui-primary #4f46e5
	--color-ui-primary-dark #4338ca
	--color-ui-secondary #be185d
	--color-ui-container #edf2f740
	--color-ui-search 243, 244, 246
	--color-ui-search-fade 90%
	--color-ui-search-text #374151
	--color-ui-gray #d1d5db
	--color-ui-tip-background #3b82f61a
	--color-ui-tip-border #3b82f633
	--color-ui-tip-text #3c83f6
	--color-ui-tip-link #3c83f6
	--color-ui-warning-background #fbbf241a
	--color-ui-warning-border #fbbf2466
	--color-ui-warning-text #a08603e6
	--color-ui-warning-link #a08603
	--color-ui-danger-background #ef44441a
	--color-ui-danger-border #ef444433
	--color-ui-danger-text #ef4444e6
	--color-ui-danger-link #ef4444
	--color-ui-alert-background #f4f4f5
	--color-ui-alert-border #f4f4f5
	--color-ui-alert-text #909399
	--select-color #d4359f33
	--inline-code-bg #f3f4f6
	--inline-code-text #db2777
	--index-background-image url(/background-dark.png)
	--index-background-gradient-start 255, 255, 255
	--index-background-gradient-start-alpha 0.97
	--index-background-gradient-end 231, 230, 255
}

:root [data-theme=dark] {
	--color-ui-background #111827
	--color-ui-background-rgb 17, 24, 39
	--color-ui-header #f3f4f6
	--color-ui-typo #d1d5db
	--color-ui-sidebar #1f2937
	--color-ui-border #1f2937
	--color-ui-primary #818cf8
	--color-ui-primary-dark #4f46e5
	--color-ui-secondary #ec4899
	--color-ui-container #1f2937
	--color-ui-search 31, 41, 55
	--color-ui-search-fade 60%
	--color-ui-search-text #d1d5db
	--color-ui-gray #4b5563
	--color-ui-tip-background #3b82f61a
	--color-ui-tip-border #3b82f633
	--color-ui-tip-text #3b82f6e6
	--color-ui-tip-link #3b82f6
	--color-ui-warning-background #fbbf241a
	--color-ui-warning-border #fbbf2433
	--color-ui-warning-text #fbbf24cc
	--color-ui-warning-link #fbbf24
	--color-ui-danger-background #ef44441a
	--color-ui-danger-border #ef444433
	--color-ui-danger-text #ef4444e6
	--color-ui-danger-link #ef4444
	--color-ui-alert-background #1f2937
	--color-ui-alert-border #1f2937
	--color-ui-alert-text #ced7e3
	--select-color #d4359f33
	--inline-code-bg #1f2937
	--inline-code-text #f472b6
	--index-background-image url(/background-light.png)
	--index-background-gradient-start 17, 24, 39
	--index-background-gradient-start-alpha 0.98
	--index-background-gradient-end 35, 39, 79
}
