:root [data-theme=light] {
	--color-ui-background theme("colors.light.background")
	--color-ui-header theme("colors.light.header")
	--color-ui-typo theme("colors.light.typo")
	--color-ui-sidebar theme("colors.light.sidebar")
	--color-ui-border theme("colors.light.border")
	--color-ui-primary theme("colors.light.primary")
	--color-ui-primary-dark theme("colors.light.primary_dark")
	--color-ui-secondary theme("colors.light.secondary")
	--color-ui-container theme("colors.light.container")
	--color-ui-search 243, 244, 246
	--color-ui-search-fade 90%
	--color-ui-search-text theme("colors.light.typo")
	--color-ui-gray theme("colors.light.gray")
	--color-ui-tip-background theme("colors.light.tip.background")
	--color-ui-tip-border theme("colors.light.tip.border")
	--color-ui-tip-text theme("colors.light.tip.text")
	--color-ui-tip-link theme("colors.light.tip.link")
	--color-ui-warning-background theme("colors.light.warning.background")
	--color-ui-warning-border theme("colors.light.warning.border")
	--color-ui-warning-text theme("colors.light.warning.text")
	--color-ui-warning-link theme("colors.light.warning.link")
	--color-ui-danger-background theme("colors.light.danger.background")
	--color-ui-danger-border theme("colors.light.danger.border")
	--color-ui-danger-text theme("colors.light.danger.text")
	--color-ui-danger-link theme("colors.light.danger.link")
	--color-ui-alert-background theme("colors.light.alert.background")
	--color-ui-alert-border theme("colors.light.alert.border")
	--color-ui-alert-text theme("colors.light.alert.text")
	--select-color theme("colors.light.select")
	--inline-code-bg theme("colors.light.inline_code.background")
	--inline-code-text theme("colors.light.inline_code.text")
	--index-background-gradient-start 255, 255, 255
	--index-background-gradient-start-alpha: 0.98
	--index-background-gradient-end 231, 230, 255
}

:root [data-theme=experimental] {
	--color-ui-background #292643
	--color-ui-header theme("colors.dark.header")
	--color-ui-typo theme("colors.dark.typo")
	--color-ui-sidebar theme("colors.dark.sidebar")
	--color-ui-border darken(#292643, 20%)
	--color-ui-primary #f36561
	--color-ui-primary-dark theme("colors.dark.primary_dark")
	--color-ui-secondary theme("colors.dark.secondary")
	--color-ui-container darken(#292643, 20%)
	--color-ui-search 33, 30, 54
	--color-ui-search-fade 70%
	--color-ui-search-text theme("colors.dark.typo")
	--color-ui-gray theme("colors.dark.gray")
	--color-ui-tip-background theme("colors.dark.tip.background")
	--color-ui-tip-border theme("colors.dark.tip.border")
	--color-ui-tip-text theme("colors.dark.tip.text")
	--color-ui-tip-link theme("colors.dark.tip.link")
	--color-ui-warning-background theme("colors.dark.warning.background")
	--color-ui-warning-border theme("colors.dark.warning.border")
	--color-ui-warning-text theme("colors.dark.warning.text")
	--color-ui-warning-link theme("colors.dark.warning.link")
	--color-ui-danger-background theme("colors.dark.danger.background")
	--color-ui-danger-border theme("colors.dark.danger.border")
	--color-ui-danger-text theme("colors.dark.danger.text")
	--color-ui-danger-link theme("colors.dark.danger.link")
	--color-ui-alert-background darken(#292643, 20%)
	--color-ui-alert-border darken(#292643, 20%)
	--color-ui-alert-text theme("colors.dark.alert.text")
	--select-color theme("colors.dark.select")
	--inline-code-bg theme("colors.dark.inline_code.background")
	--inline-code-text theme("colors.dark.inline_code.text")
	--index-background-gradient-start 41, 38, 67
	--index-background-gradient-start-alpha: 0.98
	--index-background-gradient-end 63, 21, 18
}

:root [data-theme=dark] {
	--color-ui-background theme("colors.dark.background")
	--color-ui-header theme("colors.dark.header")
	--color-ui-typo theme("colors.dark.typo")
	--color-ui-sidebar theme("colors.dark.sidebar")
	--color-ui-border theme("colors.dark.border")
	--color-ui-primary theme("colors.dark.primary")
	--color-ui-primary-dark theme("colors.dark.primary_dark")
	--color-ui-secondary theme("colors.dark.secondary")
	--color-ui-container theme("colors.dark.container")
	--color-ui-search 31, 41, 55
	--color-ui-search-fade 60%
	--color-ui-search-text theme("colors.dark.typo")
	--color-ui-gray theme("colors.dark.gray")
	--color-ui-tip-background theme("colors.dark.tip.background")
	--color-ui-tip-border theme("colors.dark.tip.border")
	--color-ui-tip-text theme("colors.dark.tip.text")
	--color-ui-tip-link theme("colors.dark.tip.link")
	--color-ui-warning-background theme("colors.dark.warning.background")
	--color-ui-warning-border theme("colors.dark.warning.border")
	--color-ui-warning-text theme("colors.dark.warning.text")
	--color-ui-warning-link theme("colors.dark.warning.link")
	--color-ui-danger-background theme("colors.dark.danger.background")
	--color-ui-danger-border theme("colors.dark.danger.border")
	--color-ui-danger-text theme("colors.dark.danger.text")
	--color-ui-danger-link theme("colors.dark.danger.link")
	--color-ui-alert-background theme("colors.dark.alert.background")
	--color-ui-alert-border theme("colors.dark.alert.border")
	--color-ui-alert-text theme("colors.dark.alert.text")
	--select-color theme("colors.dark.select")
	--inline-code-bg theme("colors.dark.inline_code.background")
	--inline-code-text theme("colors.dark.inline_code.text")
	--index-background-gradient-start 17, 24, 39
	--index-background-gradient-start-alpha: 0.98
	--index-background-gradient-end 35, 39, 79

	pre[class*="language-"],
	code[class*="language-"] {
		@apply bg-ui-border
	}
}
