:root {
	--background: #FFFFFF;
	--border: #E5E7EB;
	--container: #edf2f740;
	--tip-background: #3b82f61a;
	--tip-border: #3b82f633;
	--tip-text: #3c83f6;
	--tip-link: #3c83f6;
	--warning-background: #fbbf241a;
	--warning-border: #fbbf2466;
	--warning-text: #a08603e6;
	--warning-link: #a08603;
	--danger-background: #ef44441a;
	--danger-border: #ef444433;
	--danger-text: #ef4444e6;
	--danger-link: #ef4444;
	--alert-background: #F4F4F5;
	--alert-border: #F4F4F5;
	--alert-text: #909399;
}

body {
	font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji
}
